/*<style type="text/css">*/

.container-form__header, .container-form__section  {
  font-size: 90%;
  color: #999;
}
.container-form__header {
  margin: 0 0 5px 0;
}
.container-form__section {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
.container-form__label {
  width: 25%;
  float: left;
}

.container-form input[type='text'],
.container-form input[type='number'],
.container-form textarea {
  width: 50%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.container-form input[type='number'] {
  width: 10%;
}
.container-form input[type='text']:focus,
.container-form input[type='number']:focus,
.container-form textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  .container-form > div {
    margin: 0 0 15px 0;
  }
  .container-form > div > label,
  .container-form legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  .container-form > div > div,
  .container-form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  .container-form input[type='text'],
  .container-form input[type='email'],
  .container-form input[type='url'],
  .container-form input[type='password'],
  .container-form textarea,
  .container-form select {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container-form > div > label,
  .container-form legend {
    text-align: right;
  }
}

/*</style>*/